<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCga-WkLfwcaDSmVPW2fTiWJ6u4S06KdRE</string>
	<key>GCM_SENDER_ID</key>
	<string>142115352134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selfadvocacywins.app</string>
	<key>PROJECT_ID</key>
	<string>selfadvocacywins-acb4f</string>
	<key>STORAGE_BUCKET</key>
	<string>selfadvocacywins-acb4f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142115352134:ios:c00aa3537fcc282853e447</string>
</dict>
</plist>